<div class="cd-popup" role="alert">

  <div class="cd-popup-container">
    <div class="cd-popup-header">
      <h4>{{"MODAL.CHANGEPASSWORD.TITLE"| translate}}</h4>
    </div>
    <div class="row" style="text-align: left;padding :20px 10px;">
      <!-- <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <label *ngIf="message!=''" class="text-danger errorLabel">{{message|translate}}</label>
      </div> -->
      <div class="col-sm col-sm-12">
        <div class="form-group">
          <label for="numberOfTimes">{{"GLOBAL.NEWPASSWORD"|translate}}</label>
          <input class="form-control" [(ngModel)]="newPassword" name="newPassword" type="password"
            placeholder="{{'GLOBAL.ENTER'|translate}} {{'GLOBAL.NEWPASSWORD'|translate}}" autocomplete="off">
        </div>
      </div>

    </div>

    <ul class="cd-buttons">
      <li (click)="close()">
        {{"GLOBAL.CANCEL"| translate}}
      </li>
      <li (click)="change()">
        {{"GLOBAL.CHANGE"| translate}}
      </li>
    </ul>
    <!-- <a href="#0" class="cd-popup-close img-replace"></a> -->
  </div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->